body {  
    background-color: #dac2fe;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}


header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
}

nav {
    background-color: black;
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

nav img{
    width: 200px;
    height: auto;
}

nav a{
    color: #dac2fe;
    text-decoration: none;
    border-width: 1px;
    border-color: #dac2fe;
    font-size: 20px;
    
}

nav a:hover{
    color: white;
}

nav input{
    background-color: rgb(19, 19, 19);
    width: 150px;
    color: #dac2fe;
    height:30px ;
    border-style: solid;
    border-color: #dac2fe;
    border-radius: 10px ;
}

nav input::placeholder{
    color: #dac2fe;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    left: 45px;
}

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.imagen img{
    width: 300px;
    height: auto;
    filter: drop-shadow(2px 2px 20px rgb(255, 255, 255));
    mask-image: linear-gradient(#f8f8f8 80%, transparent);
}

section {
    display: grid;
    grid-template-rows: auto auto auto; 
    grid-template-columns: 1fr; 
    justify-items: center;
    row-gap: 20px; 
    max-width: 800px; 
    margin: 0 auto;
    margin-bottom: 30px ;
    text-align: center; 
    border: 1px double black;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    
}

section h1 {
    grid-row: 1; 
    color: rgb(5, 5, 5);
}

section a{
text-decoration: none;
}

section img {
    grid-row: 2; 
    width: 300px;
    height: auto; 
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(7, 7, 7);
    margin-bottom: 20px; /* Añadido para separar la imagen del texto */
}


section p {
    grid-row: 3; 
    text-align: center; /* Cambiado a "center" para centrar el texto */
    max-width: 80%; 
    margin: 0 auto; /* Asegura que el contenedor esté centrado */
}


section textarea{
    background-color: #dac2fe;
    width: 350px;
    color: rgb(2, 2, 2);
    height:50px ;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 10px ;
    border-width: 2px;
}

section textarea::placeholder {
    color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
    position: absolute;
    left: 150px;
    
}

.botones button{
    background-color: #dac2fe;
    color: black;
    margin-bottom: 10px;
    border-radius: 5px;
    border-width: 2px;
    height: 30px;
    width: 177px;
    border-style: solid;
    

}

aside{
    height: 100%;
    width: 190px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    padding-top: 100px;
    color: #dac2fe;
    box-shadow: 0 0 20px black;
}
aside a{
    text-decoration: none;
    color: #dac2fe;
    padding: 16px;
    font-size: 10px;
    display: block;
    text-align: justify;
}

aside p{
    font-size: 16px;
    padding-left: 10px ;
}

footer{
    background-color: black;
    margin: 0;
    color: #dac2fe;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    width: 100%;
}
footer a{
    padding: 20px;
    text-decoration: none;
    color: #dac2fe;
}

a:hover {
    color: white;
}
button:hover{
    cursor: pointer;
    color: white;
}



@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    section {
        margin: 30px;
        margin-top: 100px;

    }

    section p{
        width: 100%;
    }

    section img{
        width: 80%;
        height: auto;
        
    }

    .imagen {
        margin-top: 500px;
    }

    .imagen img {
        width: 50%;
        height: auto;
    }

    h1 {
        width: 10px;
    }

    div b {
        width: 80%;
    }
 
    section h1{
        width: 100%;
    }

    section textarea{
        width: 90%;
    }

    section textarea::placeholder{
        position: absolute;
        left: 0;
    }

    .botones button{
        width: 45%;
    }


    aside {
        width: 100%;
        height: auto;
        position: absolute;
        margin-top: 100px;
    }

    nav {
        flex-direction: column;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav input {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

   
}